<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Hi this the users page</div>
    <form action="/addUser" method="POST">
      <input type="number" name="_id" placeholder="id" />
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="city" placeholder="city" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
