<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hey i am loction router</h2>
    <h1>Hello I am working man</h1>
    <% for (i=0; i < menuitems.length; i++){ %>
    <h1><%=menuitems[i].name%></h1>
    <% } %>
  </body>
</html>
