<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <% for(i=0; i<menuitem.length; i++){%>
      <h2><%=menuitem[i].name %></h2><%} %>
    <h2><%=menuitem[1].link %></h2>
    <h2>Hello i am working man</h2>
    <h2>Hello i am working too man</h2>
    <h2>Hello man</h2>
    <h2>Hello i am</h2>
  </body>
</html>
